---
import Navbar from "../components/navbar.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <title>Acerca de - Ivan FX</title>
</head>
<body>
    <Navbar/>
    <div class="text-center">
        <h1>Ivan FX</h1>
    </div>
</body>
</html>