<div class="wrapper">
    <div class="profile-card js-profile-card">
      <div class="profile-card__img">
        <img
          alt="profile card"
          class="medium-zoom-image"
          src="https://i.imgur.com/vyKibgA.png"
        />
      </div>
  
      <div class="profile-card__cnt js-profile-cnt">
        <div class="profile-card__name" style="color: white;">Ivan FX</div>
        <div class="profile-card-loc">
          <span class="profile-card-loc__icon"> </span>
        </div>
        <span class="maintitle title-emoji title-halloween"
          >游 Creador de la P치gina</span
        >
        <br />
        <br />
        <div class="profile-card__txt">
          <strong>Descripcion: </strong>
  
          Iv치n FX, un joven developer de 17 a침os, se especializa en el desarrollo
          de plugins para Minecraft, bots de Discord y p치ginas web. Con pasi칩n por
          la tecnolog칤a, est치 siempre buscando mejorar sus habilidades y crear
          soluciones innovadoras para sus proyectos.
        </div>
  
        <div class="profile-card-social">
          <a
            class="profile-card-social__item twitter"
            href="https://x.com/IvanFX16"
          >
            <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
            </span>
          </a>
          
          <a href="https://www.paypal.com/paypalme/elivanfx" class="profile-card-social__item facebook">
            <span class="icon-font">
                <svg class="icon"><use xlink:href="#icon-paypal"></use></svg>
            </span>
          </a>
  
          <a
            class="profile-card-social__item instagram"
            href="https://discord.com/users/855719590377422859"
          >
            <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
            </span>
          </a>
  
          <a
            class="profile-card-social__item youtube"
            href="https://www.youtube.com/@Ivan_FX"
          >
            <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-youtube"></use></svg>
            </span>
          </a>
  
          <!--<a href="https://codepen.io/#" class="profile-card-social__item codepen" target="_blank">
            <span class="icon-font">
                <svg class="icon"><use xlink:href="#icon-codepen"></use></svg>
            </span>
          </a>-->
  
          <a
            class="profile-card-social__item link"
            href="https://me.ivanfx.xyz/"
          >
            <span class="icon-font">
              <svg class="icon"><use xlink:href="#icon-link"></use></svg>
            </span>
          </a>
        </div>
  
        <div class="profile-card-ctr">
          <!--<button class="profile-card__button button--blue js-message-btn">Colaborador</button>-->
          <a href="#">
            <button class="profile-card__button button--orange">
              Contacto
            </button></a
          >
        </div>
      </div>
  
      <div class="profile-card-message js-message">
        <form class="profile-card-form">
          <div class="profile-card-form__container"></div>
  
          <svg hidden="hidden">
            <defs>
              <symbol id="icon-codepen" viewbox="0 0 32 32">
                <title>codepen</title>
                <path
                  d="M31.872 10.912v-0.032c0-0.064 0-0.064 0-0.096v-0.064c0-0.064 0-0.064-0.064-0.096 0 0 0-0.064-0.064-0.064 0-0.064-0.064-0.064-0.064-0.096 0 0 0-0.064-0.064-0.064 0-0.064-0.064-0.064-0.064-0.096l-0.192-0.192v-0.064l-0.064-0.064-14.592-9.696c-0.448-0.32-1.056-0.32-1.536 0l-14.528 9.696-0.32 0.32c0 0-0.064 0.064-0.064 0.096 0 0 0 0.064-0.064 0.064 0 0.064-0.064 0.064-0.064 0.096 0 0 0 0.064-0.064 0.064 0 0.064 0 0.064-0.064 0.096v0.064c0 0.064 0 0.064 0 0.096v0.064c0 0.064 0 0.096 0 0.16v9.696c0 0.064 0 0.096 0 0.16v0.064c0 0.064 0 0.064 0 0.096v0.064c0 0.064 0 0.064 0.064 0.096 0 0 0 0.064 0.064 0.064 0 0.064 0.064 0.064 0.064 0.096 0 0 0 0.064 0.064 0.064 0 0.064 0.064 0.064 0.064 0.096l0.256 0.256 0.064 0.032 14.528 9.728c0.224 0.16 0.48 0.224 0.768 0.224s0.544-0.064 0.768-0.224l14.528-9.728 0.32-0.32c0 0 0.064-0.064 0.064-0.096 0 0 0-0.064 0.064-0.064 0-0.064 0.064-0.064 0.064-0.096 0 0 0-0.064 0.064-0.064 0-0.064 0-0.064 0.064-0.096v-0.032c0-0.064 0-0.064 0-0.096v-0.064c0-0.064 0-0.096 0-0.16v-9.664c0-0.064 0-0.096 0-0.224zM17.312 4l10.688 7.136-4.768 3.168-5.92-3.936v-6.368zM14.56 4v6.368l-5.92 3.968-4.768-3.168 10.688-7.168zM2.784 13.664l3.392 2.304-3.392 2.304c0 0 0-4.608 0-4.608zM14.56 28l-10.688-7.136 4.768-3.2 5.92 3.936v6.4zM15.936 19.2l-4.832-3.232 4.832-3.232 4.832 3.232-4.832 3.232zM17.312 28v-6.432l5.92-3.936 4.8 3.168-10.72 7.2zM29.12 18.272l-3.392-2.304 3.392-2.304v4.608z"
                ></path>
              </symbol>
              
              <symbol id="icon-paypal" viewbox="0 0 17 17">
                <title>paypal</title>
                <path d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.35.35 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91q.57-.403.993-1.005a4.94 4.94 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.7 2.7 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.7.7 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016q.326.186.548.438c.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.87.87 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.35.35 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32z"></path>
              </symbol>
  
              <symbol id="icon-tiktok" viewbox="0 0 25 25">
                <title>tiktok</title>
                <path
                  d="M12.525.02c1.31-.02 2.61-.01 3.91-.02c.08 1.53.63 3.09 1.75 4.17c1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97c-.57-.26-1.1-.59-1.62-.93c-.01 2.92.01 5.84-.02 8.75c-.08 1.4-.54 2.79-1.35 3.94c-1.31 1.92-3.58 3.17-5.91 3.21c-1.43.08-2.86-.31-4.08-1.03c-2.02-1.19-3.44-3.37-3.65-5.71c-.02-.5-.03-1-.01-1.49c.18-1.9 1.12-3.72 2.58-4.96c1.66-1.44 3.98-2.13 6.15-1.72c.02 1.48-.04 2.96-.04 4.44c-.99-.32-2.15-.23-3.02.37c-.63.41-1.11 1.04-1.36 1.75c-.21.51-.15 1.07-.14 1.61c.24 1.64 1.82 3.02 3.5 2.87c1.12-.01 2.19-.66 2.77-1.61c.19-.33.4-.67.41-1.06c.1-1.79.06-3.57.07-5.36c.01-4.03-.01-8.05.02-12.07z"
                ></path>
              </symbol>
  
              <symbol id="icon-instagram" viewbox="0 0 25 25">
                <title>instagram</title>
                <path
                  d="M20.317,4.37c-1.53-0.702-3.17-1.219-4.885-1.515c-0.031-0.006-0.062,0.009-0.079,0.037   c-0.211,0.375-0.445,0.865-0.608,1.249c-1.845-0.276-3.68-0.276-5.487,0C9.095,3.748,8.852,3.267,8.641,2.892   C8.624,2.864,8.593,2.85,8.562,2.855C6.848,3.15,5.208,3.667,3.677,4.37C3.664,4.375,3.652,4.385,3.645,4.397   c-3.111,4.648-3.964,9.182-3.546,13.66c0.002,0.022,0.014,0.043,0.031,0.056c2.053,1.508,4.041,2.423,5.993,3.029   c0.031,0.01,0.064-0.002,0.084-0.028c0.462-0.63,0.873-1.295,1.226-1.994c0.021-0.041,0.001-0.09-0.042-0.106   c-0.653-0.248-1.274-0.55-1.872-0.892c-0.047-0.028-0.051-0.095-0.008-0.128c0.126-0.094,0.252-0.192,0.372-0.291   c0.022-0.018,0.052-0.022,0.078-0.01c3.928,1.793,8.18,1.793,12.061,0c0.026-0.012,0.056-0.009,0.079,0.01   c0.12,0.099,0.246,0.198,0.373,0.292c0.044,0.032,0.041,0.1-0.007,0.128c-0.598,0.349-1.219,0.645-1.873,0.891   c-0.043,0.016-0.061,0.066-0.041,0.107c0.36,0.698,0.772,1.363,1.225,1.993c0.019,0.027,0.053,0.038,0.084,0.029   c1.961-0.607,3.95-1.522,6.002-3.029c0.018-0.013,0.029-0.033,0.031-0.055c0.5-5.177-0.838-9.674-3.548-13.66   C20.342,4.385,20.33,4.375,20.317,4.37z M8.02,15.331c-1.183,0-2.157-1.086-2.157-2.419s0.955-2.419,2.157-2.419   c1.211,0,2.176,1.095,2.157,2.419C10.177,14.246,9.221,15.331,8.02,15.331z M15.995,15.331c-1.182,0-2.157-1.086-2.157-2.419   s0.955-2.419,2.157-2.419c1.211,0,2.176,1.095,2.157,2.419C18.152,14.246,17.206,15.331,15.995,15.331z"
                ></path>
              </symbol>
  
              <symbol id="icon-twitter" viewbox="0 0 25 25">
                <title>twitter</title>
                <path
                  d="m12,0C5.373,0,0,5.373,0,12s5.373,12,12,12,12-5.373,12-12S18.627,0,12,0Zm3.063,19.232l-3.87-5.055-4.422,5.055h-2.458l5.733-6.554-6.046-7.91h5.062l3.494,4.621,4.043-4.621h2.455l-5.361,6.126,6.307,8.337h-4.937Z"
                ></path>
              </symbol>
  
              <symbol id="icon-youtube" viewbox="0 0 16 16">
                <title>youtube</title>
                <path
                  d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
                ></path>
              </symbol>
  
              <symbol id="icon-link" viewbox="0 0 32 32">
                <title>link</title>
                <path
                  d="M17.984 11.456c-0.704 0.704-0.704 1.856 0 2.56 2.112 2.112 2.112 5.568 0 7.68l-5.12 5.12c-2.048 2.048-5.632 2.048-7.68 0-1.024-1.024-1.6-2.4-1.6-3.84s0.576-2.816 1.6-3.84c0.704-0.704 0.704-1.856 0-2.56s-1.856-0.704-2.56 0c-1.696 1.696-2.624 3.968-2.624 6.368 0 2.432 0.928 4.672 2.656 6.4 1.696 1.696 3.968 2.656 6.4 2.656s4.672-0.928 6.4-2.656l5.12-5.12c3.52-3.52 3.52-9.248 0-12.8-0.736-0.672-1.888-0.672-2.592 0.032z"
                ></path>
                <path
                  d="M29.344 2.656c-1.696-1.728-3.968-2.656-6.4-2.656s-4.672 0.928-6.4 2.656l-5.12 5.12c-3.52 3.52-3.52 9.248 0 12.8 0.352 0.352 0.8 0.544 1.28 0.544s0.928-0.192 1.28-0.544c0.704-0.704 0.704-1.856 0-2.56-2.112-2.112-2.112-5.568 0-7.68l5.12-5.12c2.048-2.048 5.632-2.048 7.68 0 1.024 1.024 1.6 2.4 1.6 3.84s-0.576 2.816-1.6 3.84c-0.704 0.704-0.704 1.856 0 2.56s1.856 0.704 2.56 0c1.696-1.696 2.656-3.968 2.656-6.4s-0.928-4.704-2.656-6.4z"
                ></path>
              </symbol>
            </defs>
          </svg>
        </form>
      </div>
    </div>
  </div>
  <style>
    * {
      box-sizing: border-box;
    }
  
    a, a:hover {
      text-decoration: none;
    }
  
    .icon {
      display: inline-block;
      width: 1em;
      height: 1em;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }
  
    .wrapper {
      width: 100%;
      width: 100%;
      height: auto;
      min-height: 100vh;
      padding: 50px 20px;
      padding-top: 100px;
    }
    @media screen and (max-width: 768px) {
      .wrapper {
        height: auto;
        min-height: 100vh;
        padding-top: 100px;
      }
    }
  
    .profile-card {
      width: 100%;
      min-height: 460px;
      margin: auto;
      box-shadow: 0px 8px 60px -10px rgba(15, 157, 251, 0.6);
      border-radius: 12px;
      max-width: 700px;
      position: relative;
    }
    .profile-card.active .profile-card__cnt {
      filter: blur(6px);
    }
    .profile-card.active .profile-card-message,
    .profile-card.active .profile-card__overlay {
      opacity: 1;
      pointer-events: auto;
      transition-delay: 0.1s;
    }
    .profile-card.active .profile-card-form {
      transform: none;
      transition-delay: 0.1s;
    }
    .profile-card__img {
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
      transform: translateY(-50%);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 4;
      box-shadow: 0px 5px 50px 0px #2439fb, 0px 0px 0px 7px rgba(74, 189, 255, 0.5);
    }
    @media screen and (max-width: 576px) {
      .profile-card__img {
        width: 120px;
        height: 120px;
      }
    }
    .profile-card__img img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    .profile-card__cnt {
      margin-top: -35px;
      text-align: center;
      padding: 0 20px;
      padding-bottom: 40px;
      transition: all 0.3s;
    }
    .profile-card__name {
      font-weight: 700;
      font-size: 24px;
      color: #000000;
      margin-bottom: 15px;
    }
  
    .profile-card__txt strong {
      font-weight: 700;
    }
    .profile-card-loc {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: 600;
    }
    .profile-card-loc__icon {
      display: inline-flex;
      font-size: 27px;
      margin-right: 10px;
    }
    .profile-card-inf {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: 35px;
    }
    .profile-card-inf__item {
      padding: 10px 35px;
      min-width: 150px;
    }
    @media screen and (max-width: 768px) {
      .profile-card-inf__item {
        padding: 10px 20px;
        min-width: 120px;
      }
    }
    .profile-card-inf__title {
      font-weight: 700;
      font-size: 27px;
      color: #324e63;
    }
    .profile-card-inf__txt {
      font-weight: 500;
      margin-top: 7px;
    }
    .profile-card-social {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .profile-card-social__item {
      display: inline-flex;
      width: 55px;
      height: 55px;
      margin: 15px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      color: #fff;
      background: #405de6;
      box-shadow: 0px 7px 30px rgba(43, 98, 169, 0.5);
      position: relative;
      font-size: 21px;
      flex-shrink: 0;
      transition: all 0.3s;
    }
    @media screen and (max-width: 768px) {
      .profile-card-social__item {
        width: 50px;
        height: 50px;
        margin: 10px;
      }
    }
    @media screen and (min-width: 768px) {
      .profile-card-social__item:hover {
        transform: scale(1.2);
      }
    }
    .profile-card-social__item.facebook {
      background: linear-gradient(45deg, #3b5998, #0078d7);
      box-shadow: 0px 4px 30px rgba(43, 98, 169, 0.5);
    }
    .profile-card-social__item.twitter {
      background: linear-gradient(45deg, #222222, #868686);
      box-shadow: 0px 4px 30px rgba(0, 81, 143, 0.7);
    }
    .profile-card-social__item.instagram {
      background: linear-gradient(45deg, #002aff, #7289da);
      box-shadow: 0px 4px 30px rgba(120, 64, 190, 0.6);
    }
    .profile-card-social__item.youtube {
      background: linear-gradient(45deg, #f00, #f00);
      box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.7);
    }
    .profile-card-social__item.tiktok {
      background: linear-gradient(45deg, #333333, #626b73);
      box-shadow: 0px 4px 30px rgba(63, 65, 67, 0.6);
    }
    .profile-card-social__item.codepen {
      background: linear-gradient(45deg, #324e63, #414447);
      box-shadow: 0px 4px 30px rgba(55, 75, 90, 0.6);
    }
    .profile-card-social__item.link {
      background: linear-gradient(45deg, #d5135a, #f05924);
      box-shadow: 0px 4px 30px rgba(223, 45, 70, 0.6);
    }
    .profile-card-social .icon-font {
      display: inline-flex;
    }
    .profile-card-ctr {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }
    @media screen and (max-width: 576px) {
      .profile-card-ctr {
        flex-wrap: wrap;
      }
    }
    .profile-card__button {
      background: none;
      border: none;
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      font-size: 19px;
      margin: 15px 35px;
      padding: 15px 40px;
      min-width: 201px;
      border-radius: 50px;
      min-height: 55px;
      color: #fff;
      cursor: pointer;
      backface-visibility: hidden;
      transition: all 0.3s;
    }
    @media screen and (max-width: 768px) {
      .profile-card__button {
        min-width: 170px;
        margin: 15px 25px;
      }
    }
    @media screen and (max-width: 576px) {
      .profile-card__button {
        min-width: inherit;
        margin: 0;
        margin-bottom: 16px;
        width: 100%;
        max-width: 300px;
      }
      .profile-card__button:last-child {
        margin-bottom: 0;
      }
    }
    .profile-card__button:focus {
      outline: none !important;
    }
    @media screen and (min-width: 768px) {
      .profile-card__button:hover {
        transform: translateY(-5px);
      }
    }
    .profile-card__button:first-child {
      margin-left: 0;
    }
    .profile-card__button:last-child {
      margin-right: 0;
    }
    .profile-card__button.button--blue {
      background: linear-gradient(45deg, #1da1f2, #0e71c8);
      box-shadow: 0px 4px 30px rgba(19, 127, 212, 0.4);
    }
    .profile-card__button.button--blue:hover {
      box-shadow: 0px 7px 30px rgba(19, 127, 212, 0.75);
    }
    .profile-card__button.button--orange {
      background: linear-gradient(45deg, #00aeff, #4400ff);
      box-shadow: 0px 4px 30px rgba(45, 143, 223, 0.35);
    }
    .profile-card__button.button--orange:hover {
      box-shadow: 0px 7px 30px rgba(45, 116, 223, 0.75);
    }
    .profile-card__button.button--gray {
      box-shadow: none;
      background: #dcdcdc;
      color: #142029;
    }
    .profile-card-message {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 130px;
      padding-bottom: 100px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s;
    }
    .profile-card-form {
      box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      background: #fff;
      border-radius: 10px;
      padding: 35px;
      transform: scale(0.8);
      position: relative;
      z-index: 3;
      transition: all 0.3s;
    }
    @media screen and (max-width: 768px) {
      .profile-card-form {
        max-width: 90%;
        height: auto;
      }
    }
    @media screen and (max-width: 576px) {
      .profile-card-form {
        padding: 20px;
      }
    }
    .profile-card-form__bottom {
      justify-content: space-between;
      display: flex;
    }
    @media screen and (max-width: 576px) {
      .profile-card-form__bottom {
        flex-wrap: wrap;
      }
    }
    .profile-card textarea {
      width: 100%;
      resize: none;
      height: 210px;
      margin-bottom: 20px;
      border: 2px solid #dcdcdc;
      border-radius: 10px;
      padding: 15px 20px;
      color: #324e63;
      font-weight: 500;
      font-family: "Quicksand", sans-serif;
      outline: none;
      transition: all 0.3s;
    }
    .profile-card textarea:focus {
      outline: none;
      border-color: #8a979e;
    }
    .profile-card__overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      background: rgb(5 60 255 / 35%);
      border-radius: 12px;
      transition: all 0.3s;
    }
  </style>
  