<div class="blankslate blankslate-narrow">
    <img class="blankslate-top-img" src="/images/blankslate/1.png" />
    <h4>Esta página esta en construccion</h4>
    <p>Make sure the issue exists in this project. 
      If it does, ask a project admin for permission to see the project's issues.</p>
    <div class="blankslate-actions">
      <button class="btn btn-primary" type="button">Request access</button>
    </div>
</div>