<style>
    /* Estilos para el Hero */
    .hero {
        padding: 60px 20px;
        text-align: center;
    }

    .hero img {
        max-width: 200px;
        height: auto;
        margin-bottom: 20px;
        border-radius: 9999px;
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.2rem;
        color: #6c757d;
        margin-bottom: 30px;
    }

    .btn-custom {
        font-size: 1rem;
		padding: 10px 20px;
        background-color: #0099ff;
        color: white;
        transition: background-color 0.3s, box-shadow 0.3s;
    }

    .btn-custom:hover {
        background-color: #0099ff;
        color: white;
        box-shadow: 0 0 15px 5px rgba(0, 153, 255, 0.7);
    }

    .limited-width {
        max-width: 1000px;
        margin: 0 auto;
    }
</style>

<!-- Hero Section -->
<section class="hero text-center">
    <img src="https://i.imgur.com/vyKibgA.png" alt="Logo" class="img-fluid" style="box-shadow: 0 0 15px 5px rgba(0, 153, 255, 0.7);">
    <h1>Ivan FX</h1>
    <p class="limited-width my-5">En esta página encontrarás toda la información que necesitas sobre desarrollo web, programación de bots para Discord, y mucho más. Descubre tutoriales, recursos útiles, y herramientas para llevar tus proyectos al siguiente nivel, tanto si estás empezando como si ya tienes experiencia en el mundo del código.</p>
    <a href="docs/" class="btn btn-custom">Documentación</a>
    <a href="#about" class="btn btn-custom">Contacto</a>
</section>