<ul class="nav nav-fill nav-tabs w-50 mx-auto" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="fill-tab-0" data-bs-toggle="tab" href="#fill-tabpanel-0" role="tab" aria-controls="fill-tabpanel-0" aria-selected="true">Mis Conocimientos</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="fill-tab-1" data-bs-toggle="tab" href="#fill-tabpanel-1" role="tab" aria-controls="fill-tabpanel-1" aria-selected="false">Mis Proyectos</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="fill-tab-1" data-bs-toggle="tab" href="#fill-tabpanel-2" role="tab" aria-controls="fill-tabpanel-2" aria-selected="false">Tecnologias</a>
      </li>
  </ul>
  <div class="tab-content pt-5" id="tab-content">
    <div class="tab-pane active" id="fill-tabpanel-0" role="tabpanel" aria-labelledby="fill-tab-0">
        <section class="py-lg-14 py-8">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="text-center mb-8">
                            <span class="text-warning ls-md text-uppercase fw-semibold">¿Qué lenguajes conoces?</span>
                            <p class="lead px-8">Aquí abajo están los lenguajes que conozco.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                        <div class="language-item text-center">
                            <div class="image-wrapper">
                                <img src="https://cdn-icons-png.flaticon.com/512/732/732212.png" alt="HTML Icon" class="language-img">
                            </div>
                            <h3 class="language-name">HTML</h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                        <div class="language-item text-center">
                            <div class="image-wrapper">
                                <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png" alt="CSS Icon" class="language-img">
                            </div>
                            <h3 class="language-name">CSS</h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                        <div class="language-item text-center">
                            <div class="image-wrapper">
                                <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="JavaScript Icon" class="language-img">
                            </div>
                            <h3 class="language-name">JavaScript</h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                        <div class="language-item text-center">
                            <div class="image-wrapper">
                                <img src="https://astro-build.gallerycdn.vsassets.io/extensions/astro-build/astro-vscode/2.15.3/1729167292773/Microsoft.VisualStudio.Services.Icons.Default" alt="Astro Icon" class="language-img">
                            </div>
                            <h3 class="language-name">Astro</h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                        <div class="language-item text-center">
                            <div class="image-wrapper">
                                <img src="https://cdn-icons-png.flaticon.com/512/226/226777.png" alt="Java Icon" class="language-img">
                            </div>
                            <h3 class="language-name">Java</h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                        <div class="language-item text-center">
                            <div class="image-wrapper">
                                <img src="https://pngimg.com/d/php_PNG10.png" alt="PHP Icon" class="language-img">
                            </div>
                            <h3 class="language-name">PHP</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="tab-pane" id="fill-tabpanel-1" role="tabpanel" aria-labelledby="fill-tab-1">
        <section class="py-lg-14 py-8">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <!-- heading -->
                        <div class="text-center mb-8">
                            <span class="text-warning ls-md text-uppercase fw-semibold">¿Cuáles son tus proyectos?</span>
                            <p class="lead px-8">Aquí abajo están mis proyectos</p>
                        </div>
                    </div>
                </div>
        
                <!-- row -->
                <div class="row justify-content-center">
                        <div class="row">
                            <!-- Card 1 -->
                            <div class="col-md-4 mb-4"> <!-- Cambia col-md-6 a col-md-4 para tres tarjetas en la fila -->
                                <div class="card h-100">
                                    <img src="https://i.imgur.com/6iD7pGw.png" class="card-img-top" alt="User 1">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Iván FX | Cursos De Programacion</h5>
                                        <p class="card-text text-center">El sitio web de Developer Iván FX es mi mejor proyecto hasta la fecha, ya que esta creado con el lenguaje de programación llamado ASTRO, sin duda a sido de los mejores lenguajes de programación que he aprendido</p>
                                        <p class="card-text text-center">Link: <a href="https://dev.ivanfx.xyz/" target="_blank">dev.ivanfx.xyz</a></p>
                                    </div>
                                </div>
                            </div>
        
                            <!-- Card 2 -->
                            <div class="col-md-4 mb-4">
                                <div class="card h-100">
                                    <img src="https://i.imgur.com/ffwZ0j0.png" class="card-img-top" alt="User 2">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">MegaHosting</h5>
                                        <p class="card-text text-center">El sitio web de MegaHosting fue unos de mis primeros proyectos hecho con los lenguajes llamados PHP y MySQL, este fue unos de mis mejores logros de mi experiencia como desarrollador web</p>
                                        <p class="card-text text-center">Link: <a href="https://megahosting.kesug.com/" target="_blank">megahosting.kesug.com</a></p>
                                    </div>
                                </div>
                            </div>
        
                            <!-- Card 3 -->
                            <div class="col-md-4 mb-4">
                                <div class="card h-100">
                                    <img src="https://i.imgur.com/4edpv1p.png" class="card-img-top" alt="User 3">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">IFX Studios</h5>
                                        <p class="card-text text-center">El sitio web de IFX Studios fue unos de mis primeros proyectos de desarrollador web, el sitio web esta creado con HTML, CSS y JAVASCRIPT</p>
                                        <p class="card-text text-center">Link: <a href="https://ifxstudios.github.io/" target="_blank">ifxstudios.github.io</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>        
    </div>
    <div class="tab-content" id="tab-content">
        <div class="tab-pane" id="fill-tabpanel-2" role="tabpanel" aria-labelledby="fill-tab-2">
            <section class="py-lg-14 py-8">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="text-center mb-8">
                                <span class="text-warning ls-md text-uppercase fw-semibold">Tecnologías Utilizadas</span>
                                <p class="lead px-8">Aquí abajo están las tecnologías utilizadas en este sitio web</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                            <div class="language-item text-center">
                                <div class="image-wrapper">
                                    <img src="https://raw.githubusercontent.com/detain/svg-logos/master/svg/g/github-icon-2.svg" alt="HTML Icon" class="language-img">
                                </div>
                                <h3 class="language-name">GitHub</h3>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                            <div class="language-item text-center">
                                <div class="image-wrapper">
                                    <img src="https://cmscritic.com/ms-content/uploads/2023/11/netlifty-icon.png?format=auto&width=256" alt="CSS Icon" class="language-img" style="border-radius: 10px;">
                                </div>
                                <h3 class="language-name">Netlify</h3>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                            <div class="language-item text-center">
                                <div class="image-wrapper">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/2560px-Bootstrap_logo.svg.png" alt="JavaScript Icon" class="language-img">
                                </div>
                                <h3 class="language-name">Bootstrap 5</h3>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                            <div class="language-item text-center">
                                <div class="image-wrapper">
                                    <img src="https://static-00.iconduck.com/assets.00/node-js-icon-454x512-nztofx17.png" alt="JavaScript Icon" class="language-img">
                                </div>
                                <h3 class="language-name">Node JS</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
  </div>

<style>
    .card {
        transition: all 0.3s ease-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .card:hover {
        transform: rotate(-3deg) scale(1.05);
    }

    .language-item {
    position: relative;
    margin-bottom: 20px;
}

.image-wrapper {
    display: inline-block;
    border-radius: 8px;
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease-in-out;
}

.language-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.language-item:hover .language-img {
    transform: scale(1.1); /* Zoom effect without cutting */
}

.language-name {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.language-item:hover .language-name {
    opacity: 1;
    transform: translateY(0);
}
</style>