<section class="py-lg-14 py-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12 col-12">
                <!-- heading -->
                <div class="text-center mb-8">
                    <span class="text-warning ls-md text-uppercase fw-semibold">¿Qué lenguajes conoces?</span>
                    <p class="lead px-8">Aquí abajo están los lenguajes que conozco.</p>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row justify-content-center">
            <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                <!-- card card-borderd  -->
                <div class="card h-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                    <!-- card body  -->
                    <div class="card-body text-center">
                        <img src="https://cdn-icons-png.flaticon.com/512/732/732212.png" alt="HTML Icon" class="icon-lg mb-3" style="width: 50px;">
                        <h3 class="">HTML</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                <!-- card card-borderd  -->
                <div class="card h-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                    <!-- card body  -->
                    <div class="card-body text-center">
                        <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png" alt="CSS Icon" class="icon-lg mb-3" style="width: 50px;">
                        <h3 class="">CSS</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                <!-- card card-borderd  -->
                <div class="card h-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                    <!-- card body  -->
                    <div class="card-body text-center">
                        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="JavaScript Icon" class="icon-lg mb-3" style="width: 50px;">
                        <h3 class="">JavaScript</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                <!-- card card-borderd  -->
                <div class="card h-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                    <!-- card body  -->
                    <div class="card-body text-center">
                        <img src="https://astro.build/assets/press/astro-icon-light.svg" alt="Astro Icon" class="icon-lg mb-3" style="width: 50px;">
                        <h3 class="">Astro</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                <!-- card card-borderd  -->
                <div class="card h-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                    <!-- card body  -->
                    <div class="card-body text-center">
                        <img src="https://cdn-icons-png.flaticon.com/512/226/226777.png" alt="Java Icon" class="icon-lg mb-3" style="width: 50px;">
                        <h3 class="">Java</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0">
                <!-- card card-borderd  -->
                <div class="card h-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                    <!-- card body  -->
                    <div class="card-body text-center">
                        <img src="https://cdn-icons-png.flaticon.com/512/919/919830.png" alt="PHP Icon" class="icon-lg mb-3" style="width: 50px;">
                        <h3 class="">PHP</h3>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-4 col-6 mb-3 mb-xl-0 my-5">
                <!-- card card-borderd  -->
                <div class="card h-100" style="box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
                    <!-- card body  -->
                    <div class="card-body text-center">
                        <img src="https://cdn-icons-png.flaticon.com/512/528/528260.png" alt="MySQL Icon" class="icon-lg mb-3" style="width: 50px;">
                        <h3 class="">MySQL</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .card {
        transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
    }

    .card:hover {
        transform: scale(1.05); /* Aumenta el tamaño del card al pasar el mouse */
    }

</style>