---
import Card from '../components/card.astro'
---

<!--Blog-->
<h1 class="my-4" style="text-align: center;">Últimos Posts</h1>
<div class="container mt-4">
    <div class="row">
      <div class="col-md-3 mb-3">
        <Card title="Introducción al Blog" text="Hola a todos, soy Iván FX, un apasionado desarrollador en el mundo del software y la tecnología." letra="I" date="20/10/24" name="Ivan FX" url="../blog/introduction/"/>
      </div>
    </div>
</div>