---
import Blog from './Blog.astro'
---
<section class="services py-5">
    <div class="container">
      <h2 class="mb-4 text-center">Nuestro Blog</h2>
      <div class="row">
        <Blog />
      </div>
    </div>
</section>