---
import Card from './Card.astro'
---
<section class="services text-center py-5">
    <div class="container">
      <h2 class="mb-4">Artículos recientes</h2>
      <div class="row">
        <Card />
        <div class="text-center">
          <a class="btn btn-primary" href="/blog">Ver más Articulos</a>
        </div>
      </div>
    </div>
</section>  

<style>
  .btn {
    transition: transform 0.3s ease; /* Transición suave para el efecto de zoom */
  }
  .btn:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  }
</style>