---
import Card from './Card.astro'
---
<section class="services text-center py-5">
    <div class="container">
      <h2 class="mb-4">Artículos recientes</h2>
      <div class="row">
        <Card />
        <Card />
        <Card />
      </div>
    </div>
</section>  