---
import Card from './Card.astro'
---
<section class="services text-center py-5">
    <div class="container">
      <h2 class="mb-4">Artículos recientes</h2>
      <div class="row">
        <Card />
        <div class="text-center">
          <a class="btn btn-primary" href="/blog">Ver más Articulos</a>
        </div>
      </div>
    </div>
</section>  

<style>
  .btn {
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: linear-gradient(45deg, #007bff, #0056b3); /* Degradado para el botón */
    border: none; /* Sin borde */
    color: white;
  }

  .btn:hover {
    transform: scale(1.05) rotate(-2deg);
    color: white;
  }
</style>