.content img {
    max-width: 100%;
    border-radius: 16px;
    margin: 1.5rem 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.content img:hover {
    transform: scale(1.02);
}

blockquote {
    padding: 1.2rem 1.8rem;
    margin: 2.5rem 0;
    border-left: 5px solid #0099ff;
    background: rgba(0, 153, 255, 0.1);
    font-style: italic;
}

pre {
    background-color: #1e1e2e;
    color: #eaeaea;
    padding: 1.8rem;
    border-radius: 10px;
    margin: 2.5rem 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
    overflow-x: auto;
}

code {
    color: #73d0f9;
    border-radius: 5px;
}

h1 {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.2rem;
}

.post-date {
    font-size: 0.95rem;
    text-align: center;
    margin-bottom: 1rem;
}

hr {
    margin: 2.5rem 0;
    border: none;
    border-top: 1px solid #dedede;
}

.content {
    line-height: 1.8;
    font-size: 1.125rem;
    margin-bottom: 3rem;
}

.comments-section {
    margin-top: 3rem;
    text-align: center;
}

.comments-section h4 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

a:hover {
    text-decoration: none;
    color: #008bb9;
}

.post-conte {
    max-width: 900px;
    margin: auto;
    padding: 2.2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: left;
    background-color: #f2f2f2;
    color: #333;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .post-conte {
        overflow-x: auto;
    }
  
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        display: inline-block;
        width: auto;
    }
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background-color: #e8e8e8;
    border-radius: 24px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    max-width: 900px;
    margin: 24px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}

.gallery-item:hover img {
    transform: scale(1.15);
}

/* Sidebar para Temas */
#sidebarMenu {
    position: sticky; /* Mantiene el sidebar fijo */
    top: 110px; /* Distancia desde el top de la ventana para que no sea tapado por el navbar */
}

.info-sidebar {
    position: sticky; /* Mantiene el sidebar fijo */
    top: 110px; /* Distancia desde el top de la ventana para que no sea tapado por el navbar */
    max-height: calc(100vh - 80px); /* Altura máxima de la ventana menos la altura del navbar */
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es mayor */
    padding: 1rem; /* Agrega un poco de padding */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}