---
---


<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet" integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous">
    <title>Layout</title>
</head>
<body>
    <style is:global>
        .card {
          transition: all 0.3s ease-out;
          margin-left: 15px;
        }
      
        .card:hover {
          transform: scale(1.05);
        }
      
        .btn {
          transition: all 0.3s ease-out;
        }
        
        .btn:hover {
          transform: scale(1.05) rotate(-2deg);
        }
      
        /* Asegurar que los cards estén centrados en móviles */
        @media (max-width: 576px) {
          .col-12 {
            justify-content: center;
            margin-left: 9px;
          }
        }
    </style>
</body>
</html>